#General
.azure-pipelines/*
.eslint.js
.github/**
.markdownlint.json
.vscode/**
.vscode-test/**
**/*.ts
**/*.map
.gitignore
**/tsconfig.json
**/tsconfig.base.json
**/tslint.json
client/**
!client/out/extension.js
serverJS/**
!serverJS/out/LSPServer.js
shared.webpack.config.js
*.zip

**/node_modules
#Exclude vscode-language server because it is configured as external in shared.webpack.config.js
!**/node_modules/vscode-languageserver

# openHAB vscode repo meta files
AUTHORS
CONTRIBUTING.md
NOTICE
project-orga/*
docs/**

